@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");
html {
  overflow: hidden;
}
body {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
 display: grid;
  grid-template-areas:
    "header"
    "main"
    "main"
    "main"
    "main"
    "footer" ;
  grid-template-rows: 1fr 4fr 1fr;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}
