body{
    margin: 0px;
}
#particles-js {
                width: 100%;
                height: 100vh;
                background-color: #111111;
                background-image: url("");
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;

            }